.container_posters{
    width:50%;
}

.lista-busqueda-videos{
    width:12rem;
}
.titulo{
    left:5rem;
}
.poster:hover{
    transition: all 500ms;
    width: 299.52px;
    height: 463.68px;
    display:flex;
    position:relative;
    top:20px;
    
    
   
    

}