

.titulo_header{
    left:5rem;
}
.busqueda_videos{
    width:12rem;
}

.contenedor_imagen{
    width: 40%;
    order:1;
    align-items:flex-end;

    
    

}

.poster{
    width: 27.04rem;
    height: 41.86rem;
}


.texto{
    width: 60%;
    order:2;
    padding-top: 14rem;
    

}
.titulo{
    font-size:5.7rem;
}


